html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  width : 80%;
  height : 80%;
  display: flex;
  justify-items: center;
  align-items: center;

}

.cell {
  width : 100%;
  height : 100%;
  background-color: lightseagreen;
  padding:30px;
  border: 1px solid;
}

.guttter{
  height: 100%;
  background-color: red;
  cursor: pointer;
}